/* Home.css */

.home-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #22476d;
  color: white;
  padding: 15px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
  cursor: pointer;
}

.sidebar ul li:hover {
  color: #8fafb7;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ecf0f1;
}

.top-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: none;
  gap: 10px;
}

.new-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.view-toggle button {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.view-toggle .active {
  background-color: #3498db;
  color: white;
  border-radius: 4px;
}

.top-right-icons {
  display: flex;
  justify-content: center; /* Center the text horizontally */
  align-items: center; /* Center the text vertically */
}

.settings-icon {
  display: flex;
  justify-content: center; /* Center the text horizontally */
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  font-size: x-large;
  margin: 5px;
}

.profile-icon {
  display: flex;
  justify-content: center; /* Center the text horizontally */
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  background-color: #93c8ec;
  margin: 5px;
}

.files-folders-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.files-folders-table th,
.files-folders-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.files-folders-table th {
  background-color: #3498db;
  color: white;
}

.files-folders-table td {
  color: #333;
}

.files-folders-table tr:hover {
  background-color: #f1f1f1;
}

.files-folders-table td:last-child {
  text-align: center;
  cursor: pointer;
}

.dropdown-menu {
  font-style: normal !important;
  color: black !important;
  background-color: #f1f1f1 !important;
  display: block !important;
  position: absolute !important;
  z-index: 1 !important;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2) !important;
  padding: 12px 16px !important;
}

.dropdown-menu button {
  display: block !important;
  background: none !important;
  border: none !important;
  padding: 8px 16px !important;
  text-align: left !important;
  width: 100% !important;
  cursor: pointer !important;
  font-size: 14px !important;
}

.dropdown-menu button:hover {
  background-color: #ddd !important;
}

.current-folder-box {
  display: block;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(58, 40, 188);
  background-color: #ecf0f1;
  border-left: 0.5% solid #3498db;
  border-radius: 0.5%;
}

.back-container {
  display: flex;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.back-button {
  background-color: transparent;
  border: none;
  color: #3498db;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 1%;
}

.back-button:hover {
  text-decoration: underline;
}
